<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<div id="results"></div>
	<form id="chatter">
		<input id="message" type="text" placeholder="Type Something..."/>
		<input type="submit" value="Send"/>	
	</form>
	<script type="text/javascript">var name = '{{name}}'</script>
	<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/moment.min.js"></script>
	<script type="text/javascript" src="/js/client.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</body>
</html>